# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore package-lock.json file
package-lock.json

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache